*{
    padding: 0;
    margin: 0;
}

.panelsuperior{
    display: flex;
    height: 425px;
}


.divnavegador{
    width: 350px;

}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 265px;
    height: 356px;

    background-color: #EF767A;
    margin: 40px 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

nav img{
    width: 30px;
    height: 30px;
    padding: 10px;
    background-color: #FECBCC;
    border-radius: 10px;
    margin-right: 30px;

}

nav a{
    display: flex;
    align-items: center;
    width: 160px;

    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    margin-top: 30px;
}



.divetapasPerfil{
    width: 700px;

    background-color: bisque;
}

.panel-perfil{
    height: 100px;

    background-color: #23F0C7;
}


.panel-lecciones{
    height: 325px;

    background-color: #7A306C;
}

.divpuntos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;

}

.panel-puntos{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 360px;
    height: 360px;
    border-radius: 20px;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
    background-color: #D9D9D9;
}


.texto-puntos{
    display: flex;
    width: 360px;
    height: 90px;
}

.texto-puntos img{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-left: 20px;
}

.texto-puntos span{
    display: flex;
    align-items: center;
    margin-left: 30px;
    /* margin-top: 20px; */
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor-grafica{
    width: 240px;
    height: 240px;
}



.panelinferior{
    display: flex;
    height: 285px;

}

.divnotificaciones{
    width: 500px;
}

.panelNotificaciones{
    width: 430px;
    height: 200px;
    border-radius: 32px;
    margin: 40px 45px;

    background-color: #7DF5DD;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

}

.panelNotificaciones div{
    display: flex;
    align-items: center;
    width: 430px;
    height: 50px;
    border-radius: 32px 32px 0px 0px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

    background-color: #23F0C7;
}

.panelNotificaciones div p{
    margin-left: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.panelNotificaciones ul{
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;

}

.notificacion-item:first-of-type{
    margin-top: 15px;
}

.notificacion-item{
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #23F0C7;
}



.divcalentamiento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
}

.boton-calentamiento{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 315px;
    height: 95px;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);


    background-color: #FFE347;
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.divdesafios{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;

}

.panel-desafios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);


    background-color: #945187;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}


.panel-desafios a{
    display: flex;
    padding: 10px;
    background-color: #7A306C;
    border-radius: 10px;

    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.panel-desafios span{
    margin: 20px 0px 10px;
    text-align: center;
}