{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{% static 'registro.css' %}">
</head>
<body> 
    <div class="panel">
        <form action="/registro/new/" method="POST">
            <div class="formulario">
                {% csrf_token %}
                <p>Crea tu cuenta</p>
                <p>Ingresa tus datos</p>
                <input type="text" placeholder="Nombre Personal" name="nombre-personal">
                <input type="text" placeholder="Usuario" name="usuario-nombre">
                <input type="number" placeholder="Edad" name="usuario-edad">
                <input type="email" placeholder="Correo" name="usuario-correo">  <!-- Corregido -->
                <input type="password" placeholder="Contraseña" name="usuario-pass">
                <button type="submit">Crear cuenta</button>
            </div>
        </form>
        <div class="bienvenida">
            <p>Bienvenido</p>
            <p>¿Ya tienes cuenta?</p>
            <a class="registro" href="login.html">Inicia Sesion</a>
        </div>
    </div>
    <script src="{% static 'registro.js' %}"></script>
</body>
</html>